<html>
<body>
<div class="container">
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Key</th>
			<th>E-mail</th>
			<th>Detalhamento</th>
		</tr>
	</thead>
	<tbody>
		<% @todos.each do |acesso| %> 
		<tr>
			<td><%= acesso.key %></td>
			<td><%= acesso.email %></td>
			<td><a class="btn btn-primary" href="/acessos/<%= acesso.key %>/show"> Show</a>
		</tr>
		<% end %>
	</tbody>
</table>
</div>
</body>
</html>